<!DOCTYPE html>
<html>
<head>
    <title>Check</title>
    <meta charset="UTF-8">
    {{ include('partials/style.html') }}
</head>

</head>
<body>
<div class="container">
    {% include 'partials/navbar.html' with {value:'index'}%}
    <div class="row">
        <div class="col">
            <form action="addPath" method="post">
                <p class="grouped">
                    <input type="text" name="arguments[path]"/>
                    <button>
                        Submit
                    </button>
                </p>

            </form>
            <div class="card">
                <ol>
                    {% for path in paths %}
                    <li>{{ path }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>

</body>
</html>